@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Sniglet');

body{
      overflow: hidden;
}

.hero {
  background: black url(../img/bg.jpg) center 0.02em / cover;
}

@media (max-width: 1024px) {
  .hero {
    background: black url(../img/bg2.jpg) center 0.02em / cover;
  }
}

@media (max-width: 768px) {
  .hero {
    background: black url(../img/bg3.jpg) center 0.02em / cover;
  }
}
.desktop{
      p{
            display: inline;
      }
}
.title{
  font-family: 'Sniglet', cursive;
  text-transform: capitalize;

}

@import "../node_modules/bulma/bulma.sass";

